.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: white;
  font-family: 'Shadows Into Light Two', cursive; }
  @media only screen and (max-width: 501px) {
    .home {
      width: 100%; } }
  .home__title {
    font-size: 5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    letter-spacing: 2rem; }
    @media only screen and (max-width: 501px) {
      .home__title {
        font-size: 3rem; } }
  .home__title2 {
    font-size: 10rem; }
    @media only screen and (max-width: 501px) {
      .home__title2 {
        font-size: 5rem; } }
  .home__slogan {
    font-size: 3rem; }
    @media only screen and (max-width: 501px) {
      .home__slogan {
        font-size: 2rem; } }
  .home__search {
    display: flex;
    justify-content: center;
    width: 40%;
    border: 1px solid black;
    margin-top: 2rem; }
    @media only screen and (max-width: 710px) {
      .home__search {
        width: 60%; } }
    @media only screen and (max-width: 501px) {
      .home__search {
        width: 80%; } }
  .home__menu {
    position: relative;
    background-color: rgba(255, 255, 255, 0.555);
    flex: 0 0 60%; }
  .home__icon {
    margin-left: auto;
    margin-right: 0.3rem;
    fill: black;
    transition: all 0.2s; }
    .home__icon:hover {
      color: rgba(0, 0, 0, 0.534); }
  .home__location {
    display: flex;
    text-transform: lowercase;
    border: none;
    padding: 0.5rem;
    font-size: 2rem;
    font-family: 'Shadows Into Light Two', cursive;
    color: black; }
  .home__button {
    flex: 1;
    text-transform: lowercase;
    border: none;
    border-left: 1px solid black;
    padding: 0.5rem;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.555);
    transition: all 0.2s;
    cursor: pointer; }
    .home__button:focus {
      outline: none; }
    .home__button:active {
      transform: translateY(0.05rem);
      background-color: white; }
    .home__button:hover {
      background-color: rgba(255, 255, 255, 0.7); }
  .home__link {
    text-decoration: none;
    color: black; }

.dropdown {
  position: absolute;
  font-size: 2rem;
  list-style: none;
  color: black;
  background-color: white;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.555); }
  .dropdown__item {
    cursor: pointer; }
    .dropdown__item:hover {
      background-color: rgba(255, 255, 255, 0.7); }

.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  font-family: 'Montserrat', sans-serif; }
  .feed__map {
    display: flex;
    justify-content: center; }
  .feed__title {
    font-size: 5rem;
    text-align: center; }
  .feed__bars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.no-display {
  display: none; }

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 55rem;
  height: 17rem;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  background-color: white;
  transition: all 0.1s;
  margin: 0.5rem; }
  .card:hover {
    -webkit-box-shadow: 2px 3px 5px 0px #6b6b6b;
    -moz-box-shadow: 2px 3px 5px 0px #6b6b6b;
    box-shadow: 2px 3px 5px 0px #6b6b6b; }
  .card__info {
    display: flex;
    height: 100%; }
  .card__image-holder {
    flex: 0 0 30%;
    overflow: hidden;
    height: 100%; }
  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .card__left {
    margin: 1rem; }
  .card__right {
    margin: 4rem 1rem; }
  .card__title {
    font-size: 2rem;
    margin-bottom: 0.5rem; }
    .card__title:hover {
      text-decoration: underline; }
  .card__link {
    text-decoration: none;
    color: black; }
  .card__hH {
    font-size: 2rem; }
  .card__stars {
    display: inline-block; }
  .card__stats {
    margin-bottom: 1rem; }
  .card__stat {
    list-style: none; }
    .card__stat:not(:last-child) {
      margin-bottom: 0.5rem; }
  .card__list-style {
    margin-right: 0.5rem; }
  .card__count {
    font-weight: 800; }
  .card__price {
    display: inline-block; }
  .card__address {
    text-decoration: none;
    color: black; }
    .card__address:hover {
      text-decoration: underline; }
  .card__light {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 10%; }
  .card__dot {
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.1rem;
    margin: 0.3rem 0; }
  .card__red {
    background-color: red;
    -webkit-box-shadow: 0px 0px 16px 21px red;
    -moz-box-shadow: 0px 0px 16px 21px red;
    box-shadow: 0px 0px 15px 3px red; }
  .card__yellow {
    background-color: yellow;
    -webkit-box-shadow: 0px 0px 16px 21px yellow;
    -moz-box-shadow: 0px 0px 16px 21px yellow;
    box-shadow: 0px 0px 15px 3px yellow; }
  .card__green {
    background-color: rgba(0, 128, 0, 0.7);
    -webkit-box-shadow: 0px 0px 16px 21px green;
    -moz-box-shadow: 0px 0px 16px 21px green;
    box-shadow: 0px 0px 15px 3px green; }

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1rem; }

/*# sourceMappingURL=style.css.map */
