.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: white;
  font-family: 'Shadows Into Light Two', cursive; }
  .home__title {
    font-size: 5rem;
    letter-spacing: 1rem;
    text-transform: lowercase; }
  .home__title2 {
    font-size: 10rem; }
  .home__slogan {
    font-size: 3rem; }
  .home__search {
    display: flex;
    justify-content: center;
    width: 40%;
    border: 1px solid black;
    margin-top: 2rem; }
  .home__menu {
    position: relative;
    background-color: rgba(255, 255, 255, 0.555);
    flex: 0 0 60%; }
  .home__icon {
    margin-left: auto;
    margin-right: 0.3rem;
    fill: black;
    transition: all 0.2s; }
    .home__icon:hover {
      color: rgba(0, 0, 0, 0.534); }
  .home__location {
    display: flex;
    text-transform: lowercase;
    border: none;
    padding: 0.5rem;
    font-size: 2rem;
    font-family: 'Shadows Into Light Two', cursive;
    color: black; }
  .home__button {
    flex: 1;
    text-transform: lowercase;
    border: none;
    border-left: 1px solid black;
    padding: 0.5rem;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.555);
    transition: all 0.2s;
    cursor: pointer; }
    .home__button:focus {
      outline: none; }
    .home__button:active {
      transform: translateY(0.05rem);
      background-color: white; }
    .home__button:hover {
      background-color: rgba(255, 255, 255, 0.7); }
  .home__link {
    text-decoration: none;
    color: black; }

.dropdown {
  position: absolute;
  font-size: 2rem;
  list-style: none;
  color: black;
  background-color: white;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.555); }
  .dropdown__item {
    cursor: pointer; }
    .dropdown__item:hover {
      background-color: rgba(255, 255, 255, 0.7); }

.card {
  display: flex; }
  .card__dot {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: grey; }
    .card__dot:not(:last-child) {
      margin-bottom: 0.3rem; }
  .card__red {
    background-color: red;
    -webkit-box-shadow: 0px 0px 16px 21px red;
    -moz-box-shadow: 0px 0px 16px 21px red;
    box-shadow: 0px 0px 15px 3px red; }
  .card__yellow {
    background-color: yellow;
    -webkit-box-shadow: 0px 0px 16px 21px yellow;
    -moz-box-shadow: 0px 0px 16px 21px yellow;
    box-shadow: 0px 0px 15px 3px yellow; }
  .card__green {
    background-color: rgba(0, 128, 0, 0.8);
    -webkit-box-shadow: 0px 0px 16px 21px green;
    -moz-box-shadow: 0px 0px 16px 21px green;
    box-shadow: 0px 0px 15px 3px green; }

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1rem; }
